* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  line-height: 1;
  font-size: 20px;
  text-align: left;
  font-family: inherit;
}

a:hover {
  cursor: pointer;
}

:root {
  --header-height: 2rem;
  --input-height: 3rem;
  --instructions-height: 2rem;
}

.root {
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
}

.header nav {
  display: flex;
  gap: 1rem;
}

.shh {
  font-style: italic;
}

.alias {
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(var(--input-height) + var(--instructions-height));
}

.invite {
  margin-left: auto;
}

.instructions {
  display: flex;
  align-items: center;
  height: var(--instructions-height);
  padding: 0 1rem;
}

.input {
  margin-top: auto;
  width: 100%;
  padding: 1rem;
  background-color: #e5e5e5;
  height: var(--input-height);
}

.input:focus {
  outline: none;
}

/*
 *
 *
 *
 * ANIMATIONS
 *
 *
 *
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
